{% extends "base.html" %}

{% block title %}Contact | Neo Ni{% endblock %}

{% block content %}
<section class="page-header">
    <div class="container narrow-container">
        <p class="eyebrow">Contact</p>

        <h1>Get in touch</h1>

        <p class="page-introduction">
            The contact form will be implemented after the site’s
            main structure and project system are complete.
        </p>
    </div>
</section>

<section class="section">
    <div class="container narrow-container">
        <div class="contact-panel">
            <p>
                For now, contact me through LinkedIn or GitHub.
            </p>

            <div class="button-group">
                <a class="button button-primary" href="https://www.linkedin.com/in/neo-ni-3a14b6301" target="_blank"
                    rel="noopener noreferrer">
                    LinkedIn
                </a>

                <a class="button button-secondary" href="https://github.com/PHLP-Neo" target="_blank"
                    rel="noopener noreferrer">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}