{% extends "base.html" %}

{% block title %}Notes | Neo Ni{% endblock %}

{% block content %}
<section class="page-header">
    <div class="container narrow-container">
        <p class="eyebrow">Notes</p>

        <h1>Technical notes and personal updates</h1>

        <p class="page-introduction">
            This section will eventually contain short technical notes,
            project updates and selected personal posts.
        </p>
    </div>
</section>

<section class="section">
    <div class="container narrow-container">
        <div class="empty-state">
            <h2>No posts yet</h2>

            <p>
                Posts will later be managed through Django Admin.
            </p>
        </div>
    </div>
</section>
{% endblock %}